body{
  
}

.bg-pictures{
  /* background-image: url('/cypto.jpg'); */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 10px;
}

.background-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Makes the image cover the entire div */
  background-position: center; /* Centers the image */
  background-repeat: repeat;
  transition: background-image 1s ease-in-out; /* Smooth transition */
  background-blend-mode: multiply;

  /* margin-top: 40px; */
}

.input-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  /* border: 1px solid black; */
  border:none;
}

.input-label {
  font-size: 14px;
  font-weight: 600;
  color: #172554;
  padding-bottom: 5px;
}

.input-wrapper {
  position: relative;
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  border: none;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #666;
}

.input-field::placeholder {
  color: #bbb;
}

.input-icon {
  padding-left: 8px;
  color: #bbb;
  font-size: 1.2rem;
}

.logout{
  cursor: pointer;
}

.viewall{
  cursor: pointer;
}